*{
    font-family:'Courier New', Courier, monospace
}

body {
    padding: 10px;
    background-color: rgba(227, 241, 241, 0.4);
    background-image: url("../img/cat-eyes.jpg");
    background-repeat:no-repeat; 
    background-position: center top;
    background-size: cover;
    
    
}
.izquierda{
    text-align: left;    
    color: blue;
}
.my-header{
    color: rgb(255, 253, 127);
}
.texto-centrado{
    text-align: center;
    color: rgb(179, 166, 51);

}
.bloque-centrado{
    width: 75%;
    /*para centrar un bloque de forma horizontalmente*/
    margin: auto;
    /*borde tiene tres o más propiedades: el grosor del borde, la forma, el color...*/
    border: 6px ridge rgb(235, 143, 23);
    /*hacer que las esquinas estén redondeadas*/
    border-radius: 25px 0px 25px 0px; 
    
}
.parrafo-borde-izq{
    border-left: 8px solid rgb(228, 197, 112);
    color: rgb(255, 246, 127);
    width: 75%;
    margin: auto;
    border-bottom: 35px;
}
.bloque-centrado-sborde{
    width: 75%;
    margin: auto;
}
.bloque-opaco{
    background-color: rgba(226, 215, 55, 0.678);
    text-align:center;
}
.bloque{
    width: 250px;
    height: 250px;
    background-image: url(../img/gato-negro.webp);
    background-size: cover;
    border: 2px solid rgb(214, 109, 10);
    margin: 25px auto;
    opacity: 0.85;
}
.boton{
    width: 250px;
    padding: 10px 45px;
}
.ex2{
  width: 300px;
  padding: 55px 50px;
  margin: 40px;
  box-sizing: border-box;
  color: white;
  border: 2px solid white;

}
.ancho-largo{
    max-width: 250px;
    height: 250px;
    background-color: rgb(245, 203, 148);
    
    margin-bottom: 50px;
    text-align: center;
    border: 2px solid rgb(214,109,10);
    padding: 10px;
    outline: 2px solid rgb(214,109,10);
    outline-offset: 20px;
    border-radius: 70px 0px 70px 0px;
    
}
.texto{
    text-align: justify;
    text-decoration: none;
}
.texto-resaltado{
    text-decoration: underline;
}
.estilo-enlaces{
    text-decoration: none;
    color: aquamarine;
    background-color: black;
}